@media only screen and (max-width: 1980px) {

    #container {
        width: 100vw;

        #colorbar {
            height: 480px; 

            img {
                margin-top: 0px;
                height: 480px;
            }
            
            h1 {
                font-size: 7.4em;
                padding-top: 78px;
                padding-left: 23%;
            }

            ul.navi {
                font-size: 4em;
                padding-top: 0px;
                padding-left: 23%;
            }
        }

        #content {

            .page {
    
                h3 {
                    font-size: 5em;
                }
            }
        }
    }

    table {
        width: 90vw;
    }
}



@media only screen and (max-width: 1700px) {

    #container {

        #colorbar {
            height: 430px; 

            img {
                margin-top: 0px;
                height: 430px;
            }

            
            h1 {
                font-size: 6.2em;
                padding-top: 70px;
                padding-left: 19%;

            }

            ul.navi {
                font-size: 3.5em;
                padding-top: 0px;
                padding-left: 19%;
            }

            ul.navi li {
                margin-right: 50px; 
            }
        }

        #content {

            .page {
    
                h3 {
                    font-size: 4em;
                }

            }
        }

        #footer {
            font-size: 1em;
        }

    }
}


@media only screen and (max-width: 1480px) {

    #container {

        #colorbar {
            height: 370px; 

            img {
                margin-top: 0px;
                height: 370px;
            }

            
            h1 {
                font-size: 5em;
                padding-top: 65px;
                padding-left: 19%;
            }

            ul.navi {
                font-size: 3em;
                padding-top: 0px;
                padding-left: 19%;
            }

            ul.navi li {
                margin-right: 40px; 
            }
        }

        #content {

            .page {
    
                h3 {
                    font-size: 3em;
                }
            }
        }
    }

}

@media only screen and (max-width: 1240px) {

    #container {

        #colorbar {
            height: 320px; 

            img {
                margin-top: 0px;
                height: 320px;
            }
            
            h1 {
                font-size: 4.7em;
                padding-top: 60px;
                padding-left: 20%;
            }

            ul.navi {
                font-size: 2.5em;
                padding-top: 0px;
                padding-left: 20%;
            }

            ul.navi li {
                margin-right: 30px; 
            }

        }

        #content {

            .page {
    
                h3 {
                    font-size: 2.7em;
                }

            }
        }
    }

}


@media only screen and (max-width: 1030px) {

    #container {

        #colorbar {
            height: 260px; 

            img {
                margin-top: 0px;
                height: 260px;
            }

            
            h1 {
                font-size: 3.6em;
                padding-top: 48px;
                padding-left: 20%;
            }

            ul.navi {
                font-size: 2.1em;
                padding-top: 0px;
                padding-left: 20%;
            }

            ul.navi li {
                margin-right: 20px; 
            }
        }

        #content {

            .page {
    
                h3 {
                    font-size: 2.2em;
                    padding-top: 2vw;
                }

                h4 {
                    font-size: 1.9em;
                }
            }
        }

    }
}

@media only screen and (max-width: 800px) {

    #container {

        #colorbar {
            height: 210px; 

            img {
                margin-top: 0px;
                height: 210px;
            }
            
            h1 {
                font-size: 3em;
                padding-top: 42px;
                padding-left: 21%;
            }

            ul.navi {
                font-size: 1.6em;
                padding-top: 0px;
                padding-left: 21%;
            }

            ul.navi li {
                margin-right: 5px; 
            }

        }

        #content {

            .page {
                padding-left: 35px;

                p, th, td {
                    font-size: 1em;
                }
    
                h3 {
                    font-size: 1.5em;
                    padding-top: 15px;
                }

                h4 {
                    font-size: 1.4em;
                }

            }
        }

    }

    table {
        width: 85vw;
    }
}

@media only screen and (max-width: 680px) {

    #container {

        #colorbar {
            height: 190px; 

            img {
                margin-top: 0px;
                height: 190px;
            }
            
            h1 {
                font-size: 2.3em;
                padding-top: 44px;
                padding-left: 15%;
            }

            ul.navi {
                font-size: 1.3em;
                padding-top: 0px;
                padding-left: 15%;
            }

            ul.navi li {
                margin-right: 5px; 
            }

        }

        #content {

            .page {

                p, td {
                    font-size: 0.9em;
                }
    
                h3 {
                    font-size: 1.5em;
                    padding-top: 15px;
                }

                h4 {
                    font-size: 1.4em;
                }

            }
        }

        #footer {
            font-size: 0.9em;
        }

    }
}


@media only screen and (max-width: 460px) {

    #container {
        width: 100vw;

        #colorbar {
            height: 160px; 

            img {
                margin-top: 0px;
                height: 160px;
            }
            
            h1 {
                font-size: 1.7em;
                padding-top: 37px;
                padding-left: 3%;
            }

            ul.navi {
                font-size: 1.3em;
                padding-top: 0px;
                padding-left: 3%;
            }

            ul.navi li {
                margin-right: 5px; 
            }

        }

        #content {

            .page {
                padding-left: 25px;

                p, th, td {
                    font-size: 0.9em;
                }
    
                h3 {
                    font-size: 1.5em;
                    padding-top: 15px;
                }

                h4 {
                    font-size: 1.4em;
                }

            }
        }
    }

    table {
        display: none;
    }

    #error-table {
        display: block;
      }

}

@media only screen and (max-width: 250px) {
    body {
      margin-top: 25px;
      background-color: #1f1f1f;
      text-align: center;
    }
    #error-msg {
      display: block;
    }
    #error-table {
      display: none;
    }
    #header {
      display: none;
    }
    #container {
      display: none;
    }
    #content {
      display: none;
    }
    #colorbar {
      display: none;
    }
  }/*# sourceMappingURL=style.css.map */